h1{
	font-size:100%
}
p{
	font-size:90%;
}

.mytable,.mytable2{
 	border-collapse: collapse;
}
.mytable th,.mytable td,.mytable2 th,.mytable2 td{
	border:solid 1px black;
}

td.sample img{
	width:50px;
}
.figure{
	text-align:right;
}
.language{
	text-align:left;
}

.mytable tr th,.mytable2 tr th{
	color:#008000;
 	background-color:#CCFFCC;
 	text-align:center;
}
.change{
	color:red;
	font-weight:bold;
}

.mytable,.mytable2{
	display: inline;
}
.mytable2{
	vertical-align:bottom;
}



h2{
	font-size:100%
}
p{
	font-size:90%
}

div form{
	width:640px;
	margin-right:auto;
	margin-left:auto;
}
div form{
	text-align:center;
}
.example{
	border-radius : 8%;
	padding: 10px 12px;
  	text-align : center;
  	background: #0059b3;
 	color: #ffffff;
 	border-color:#0059b3;
}
.example2{
	text-align:center;
}